*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
/.vs/FileArchitectureWebPro/DesignTimeBuild/.dtbcache
/.vs/FileArchitectureWebPro/v15/.suo
/.vs/FileArchitectureWebPro/v15/Server/sqlite3/storage.ide
/.vs/FileArchitectureWebPro/v15/Server/sqlite3/storage.ide-shm
/.vs/FileArchitectureWebPro/v15/Server/sqlite3/storage.ide-wal
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.dll
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.pdb
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.dll
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.pdb
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.csproj.CoreCompileInputs.cache
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.csproj.FileListAbsolute.txt
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.dll
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.pdb
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.RazorCoreGenerate.cache
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.dll
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.pdb
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Home/GenerateFileStructAndFile.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
/.vs/FileArchitectureWebPro/v15/Server/sqlite3/storage.ide
/.vs/FileArchitectureWebPro/v15/Server/sqlite3/storage.ide-shm
/.vs/FileArchitectureWebPro/v15/Server/sqlite3/storage.ide-wal
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.dll
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.pdb
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.dll
/FileArchitectureWebPro/bin/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.pdb
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.csproj.CoreCompileInputs.cache
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.csproj.FileListAbsolute.txt
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.dll
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.pdb
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.RazorCoreGenerate.cache
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.dll
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.pdb
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Home/GenerateFileStructAndFile.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/FileArchitectureWebPro.Views.dll
/FileArchitectureWebPro/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
