
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateFileStructAndFile</title>
</head>
<body>
    <pre>
@(ViewBag.Message)
    </pre>

</body>
</html>
